storm.zookeeper.servers:
{{ range gets "/zookeeper/*" }}
{{$server := json .Value}}
    - "{{$server.address}}"
{{end}}

{{ range gets "/storm-nimbus/*" }}
{{$server := json .Value}}
nimbus.host: "{{$server.address}}"
{{end}}

storm.local.dir: "/var/lib/storm"

supervisor.slots.ports:
    - 6700
    - 6701
    - 6702
    - 6703
